* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#counter {
    font-size: 3rem;
    font-weight: 800;
}
#label {
    font-size: 2.5rem;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
#counterApp {
    width: 500px;
    height: 300px;
    background-color: #202020;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    gap: 0.5rem;
}

#buttons button {
    font-size: 0.9rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
}
#reset {
    background-color: hsl(56, 100%, 75%);
}
#increment {
    background-color: hsl(106, 100%, 75%);
}
#decrement {
    background-color: hsl(6, 100%, 75%);
}
#reset:hover {
    background-color: hsl(56, 95%, 65%);
}
#increment:hover {
    background-color: hsl(106, 95%, 65%);
}
#decrement:hover {
    background-color: hsl(6, 95%, 65%);
}
#reset:active {
    background-color: hsl(56, 85%, 60%);
}
#increment:active {
    background-color: hsl(106, 85%, 60%);
}
#decrement:active {
    background-color: hsl(6, 85%, 60%);
}

#easterEgg {
    font-size: 1.4rem;
    text-align: center;
    width: 80%;
}

footer {
    color: #202020;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #202020;
}
a:hover {
    color: #555;
} 
a:active {
    color: #7b7b7b;
}
/* FOR SMARTPHONE */
@media (max-width : 550px) {
    body {
        background-color: #202020;
    }
    #main {
        gap: 4rem;
    }
    #buttons {
        flex-direction: column-reverse;
    }
    footer, a, #easterEgg {
        color: #f1f1f1;
    }
}