* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#counter {
    font-size: 3rem;
    font-weight: 800;
}
#label {
    font-size: 2.5rem;
}

#counterApp {
    width: 500px;
    height: 300px;
    background-color: #202020;
    /* background-color: #1f1f29; */
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#buttons button {
    padding: 0.8rem 1.5rem;
}
#reset {
    border: none;
    background-color: hsl(56, 100%, 75%);
}
#increment {
    border: none;
    background-color: hsl(106, 100%, 75%);
}
#decrement {
    border: none;
    background-color: hsl(6, 100%, 75%);
}